@model UserPageViewModel

@{
    ViewData["Title"] = Model.User.Name;
}

<h2>@Model.User.Name (@Model.User.UserName)</h2>

Gold Badges: @Model.User.TotalGoldBadges
Silver Badges: @Model.User.TotalSilverBadges
Bronze Badges: @Model.User.TotalBronzeBadges
